body {
    font-family: Arial, sans-serif;
    background-color: purple;
    color: darkblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 54, 71);
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(0, 54, 71);
}


.form-section {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(199, 7, 7, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid purple;
    border-radius: 5px;
}

button {
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}


#info {
    margin: 30px auto;
    width: 80%;
    background-color: #e6fffa;
    border-left: 5px solid blue;
    padding: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: purple;
    color: white;
    margin-top: 30px;
}
img{

  height: 300px;
  width: 400px;
}