body {
    font-family: Arial, sans-serif;
    background-color: purple;
    color: rgb(255, 255, 255);
}

header {
    background-color: navy;
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
}


.form-section {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
}


button {
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: darkorchid;
    color: white;
    margin-top: 30px;
}
img{

  height: 300px;
  width: 400px;
}